= label 'deposit_amount', 'Deposit amount'
= text_field 'deposit', 'amount'

%button.btn.btn-secondary.make_deposit
  Submit

%button.btn.btn-secondary.make_deposit_test{data: { href: '/profile/make_deposit' }}
  Test
