%div{class: 'btn btn-default actions', data: {href: '/profile/show_profile'}}
  Edit profile
|
%div{class: 'btn btn-default actions', data: {href: '/profile/wallets'}}
  Wallets
|
%div{class: 'btn btn-default actions', data: {href: '/profile/deposit'}}
  Deposit
|
%div{class: 'btn btn-default actions', data: {href: '/profile/withdraw'}}
  Withdraw

%br

%div.inner_loads
  = render partial: 'show_profile'
