%h3
  Opened deals
%table.table.table-bordered
  %thead.thead-inverse
    %th
      Deal#
    %th
      User
    %th
      Bet
    %th
  - Deal.opened.each do |deal|
    %tr
      %td
        = deal.id
      %td
        = deal.first_user.try(:email)
      %td
        = deal.bet
      %td
        %button.btn.btn-secondary.accept_deal
          Accept
