%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %a.navbar-brand{:href => "/"} Test Your Luck
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/make_a_deal"} Make a deal!
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %li
              %a{:href => "/profile"} Profile Settings
            %li
              %a{:href => "/users/sign_out", 'data-method': :delete} Logout
        - else
          %li
            %li
              %a{:href => "/users/sign_in"} Sign in
            %li
              %a{:href => "/users/sign_up"} Sign Up
